.banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        @media only screen and (max-width: 560px) {
            text-align: center;
        }
    }
}