.button {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  overflow: hidden;
  position: relative;
  padding-right: 70px;
  padding-left: 0px;
  display: inline-block;
  transition: all 0.3s ease;
}
.button--secondary {
  color: white !important;
}
.button::before, .button::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s ease;
}
.button::before {
  left: -70px;
  opacity: 0;
}
.button::after {
  right: 0px;
}
.button:hover {
  padding-right: 0px;
  padding-left: 70px;
}
.button:hover::before {
  opacity: 1;
  left: 0px;
}
.button:hover::after {
  right: -50px;
  opacity: 0;
}
